* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "lato", sans-serif;
  color: #201e20;
}

ul {
  list-style: none;
}

a {
  color: #201e20;
  text-decoration: none;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.2;
  color: #201e20;
}

h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

h3 {
  font-size: 20px;
  font-weight: 150;
  margin: 10px 0;
  line-height: 1.2;
}

p {
  font-size: 20px;
  color: #201e20;
}

li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  overflow: visible;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.navbar {
  background-color: #b18673;
  height: 70px;
  padding: 0 30px;
}

.navbar h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #201e20;
  padding: 9px;
  margin: 0 10px;
}

.navbar a:hover {
  color: #eddedb;
  border-bottom: 3px solid #eddedb;
}

.header-showcase {
  height: 350px;
  background-image: url("../img/background-image-3256917_1920.jpg");
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.header-showcase p {
  margin-bottom: 30px;
}

.header-showcase img {
  width: 80%;
  border-radius: 20px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

.showcase-form {
  padding-left: 7px;
}

.grid {
  overflow: visible;
  display: grid;
  grid-template-columns: 60% 40%;
}

.grid-item-1 {
  position: relative;
  top: 50px;
  padding-left: 4em;
}

.grid-item-2 {
  position: relative;
  top: 80px;
}

.header-showcase input[type="email"] {
  padding: 10px 70px 10px 0;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  padding-left: 6px;
}

.btn {
  border-radius: 6px;
  padding: 12px 20px;
  background: #a47f60;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  transform: scale(1.2);
}

.showcase-form {
  margin: auto;
}

.little-info {
  font-size: 20px;
  font-family: "poppins", sans-serif;
  color: #a47f60;
  font-weight: bold;
  margin-top: 10px;
}

.img-showcase {
  margin: 5em 3em 3em 3em;
  padding: 3em 3em 5em 3em;
  align-items: center;
  background-color: #eddedb;
  box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2), 7px 7px 20px rgba(0, 0, 0, 0.2);
}

.img-showcase h1,
.story-showcase h1,
.video-showcase h1 {
  color: #a47f60;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-size: 2.5em;
}

.img-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 280px 200px 200px;
  gap: 10px;
  padding: 2em;
}

.img-border {
  border: 2px solid #a47f60;
  border-radius: 20px 20px 20px 20px;
}

.grid-img-1 {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 490px;
  background-image: url("../img/ingredient1.jpg");
  background-size: cover;
  background-position: center;
}

.grid-img-2 {
  height: 280px;
  background-image: url("../img/ingredient2.jpg");
  background-size: cover;
}

.grid-img-3 {
  height: 280px;
  background-image: url("../img/ingredient3.jpg");
  background-size: cover;
}

.grid-img-4 {
  grid-row-start: 2;
  grid-row-end: 3;
  height: 410px;
  background-image: url("../img/ingredient4.jpg");
  background-size: cover;
}

.grid-img-5 {
  height: 200px;
  background-image: url("../img/product1.jpg");
  background-size: cover;
}

.grid-img-6 {
  height: 200px;
  background-image: url("../img/product2.jpg");
  background-size: cover;
}

.grid-img-7 {
  grid-column-start: 3;
  grid-row-start: 3;
  height: 200px;
  background-image: url("../img/product3.jpg");
  background-size: cover;
}

.story-showcase {
  margin: 0 3em 3em 3em;
  padding: 3em;
  align-items: center;
  background-color: #eddedb;
  box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2), 7px 7px 20px rgba(0, 0, 0, 0.2);
}

.story-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px 20px 50px;
}

.story-title {
  color: #a47f60;
  font-size: 30px;
  text-align: left;
  padding-left: 20px;
}

.story-text {
  color: #201e20;
  font-size: 19px;
  width: 90%;
  padding: 30px 10px 10px 50px;
  margin: 0, 10px;
  text-align: left;
}

.story-img-style {
  width: 800px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

.story-img-1 {
  background-image: url("../img/product4.jpg");
}

.story-img-2 {
  background-image: url("../img/product5.jpg");
}

.value-showcase {
  width: 100%;
  margin-top: 5em;
  margin-bottom: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #201e20;
  padding: 10px;
}

.card {
  padding: 10px;
  background-color: #dcd6d3;
  border-radius: 10px;
  box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2), 7px 7px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-bottom: 50px;
}

.circle {
  background-image: url("../img/lab.jpg");
  background-size: cover;
  border: 3px solid #a47f60;
  height: 90px;
  position: relative;
  top: -40px;
  left: 280px;
  border-radius: 50%;
  width: 90px;
}

.circle-img-1 {
  background-image: url("../img/value.jpg");
}

.circle-img-2 {
  background-image: url("../img/technology.jpg");
}

.circle-img-3 {
  background-image: url("../img/sustainability.jpg");
}

.video-showcase {
  margin: 5em 3em 3em 3em;
  padding: 3em 3em 5em 3em;
  background-color: #eddedb;
  box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2), 7px 7px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

video {
  outline: 15px outset #a47f60;
  margin: 1em;
}

.categories-showcase {
  display: flex;
  justify-content: space-around;
  margin: 5rem 0 5em 0;
  padding: 0 5em 0 5em;
  flex-wrap: wrap;
}

.categories-showcase a {
  color: #a47f60;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2.5em;
  font-weight: 800;
  font-style: oblique;
}

.categories-showcase a:hover {
  transform: scale(1.2);
}

.category-img-item {
  width: 250px;
  height: 350px;
  border: 4px solid #b18673;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
}

.category-1 {
  background-image: url("../img/cream-1327847_1920.jpg");
}

.category-2 {
  background-image: url("../img/lipstick.jpg");
}

.category-3 {
  background-image: url("../img/suncream-1337629_1920.jpg");
}

.category-4 {
  background-image: url("../img/fragrance.jpg");
}

.natural-showcase {
  height: 600px;
  margin: 0 3em 3em 3em;
  padding: 5em;
  align-items: center;
  background-color: #eddedb;
  box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2), 7px 7px 20px rgba(0, 0, 0, 0.2);
}

.center-bg {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #b18673;
  outline: #b18673;
  outline-style: dashed;
  outline-offset: 3em;
  position: relative;
  left: 20%;
  z-index: 2;
}

.natural-item1,
.natural-item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.bottle {
  width: 35%;
  z-index: 2;
  transform: rotate(65deg);
  position: relative;
  top: 5em;
  left: 2em;
  transition: 3s;
}

.bottle:hover {
  transform: rotate(360deg);
}

.natural-button {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 80px;
  border-radius: 20px;
  text-align: center;
  border-radius: 6px;
  background-color: #eddedb;
  outline: 2px solid #b18673;
  outline-offset: 3px;
  color: #a47f60;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.natural-btn-txt {
  font-size: 16px;
  color: #a47f60;
  text-align: center;
}

.natural-button:hover {
  outline-offset: 6px;
  background-color: #b18673;
  color:white;
}

.natural-button:active {
  outline-offset: 2px;
  background-color: #b18673;
  color: white;
}

.text-box-1 { 
  width: 300px; 
  z-index: 1;
  position: relative;
  bottom: 15em;
  left: 4em;
}

.text-box-2 {
  width: 300px;
  position: relative;
  bottom: 6em;
  left: -12em;
  z-index: 1;
}

.text-box-3 {
  width: 250px;
  position: relative;
  bottom: 18em;
  left: 18em;
  z-index: 1;
}

.text-box-4 {
  width: 250px;
  position: relative;
  bottom: -4em;
  right: 20em;
  z-index: 1;
}

.text-box-5 {
  width: 250px;
  position: relative;
  bottom: 10em;
  left:22em;
  z-index: 1;
}

footer {
  background-color: #b18673;
  padding: 20px 10px;
  margin: 30px auto;
}

footer a {
  color: white;
  margin: 0 10px;
}

footer a:hover {
  color: #eddedb;
  border-bottom: 2px solid #eddedb;
}

@media (max-width: 1400px) {}

.showcase {
  height: auto;
  text-align: center;
}

.image {
  width: 90%;
  margin-left: 80px;
  border-radius: 50% 0 50% 0;
}